// Colors 
$white: rgba(255, 255, 255, 1);
$off-white: rgba(255, 253, 252, 1);
$black: rgba(43, 37, 35, 1);

// Natural cycles colors 
$color-vivid-violet: rgba(128, 55, 155, 1);
$color-violet-eggplant: rgba(163, 26, 126, 1);
$color-allports: rgba(0, 102, 161, 1);
