<header class="site-header site-header--{{ .Params.page_theme }}" role="banner">
    
    <div class="site-header__inner">
        <div class="site-header__logo"> </div>

        <div class="site-header__menu"> 
            <div class="site-header__left-menu"> 
                <a href="#" class="site-header__menu-element">Contraception</a>
                <a href="#" class="site-header__menu-element">The science</a>
                <a href="#" class="site-header__menu-element">About us</a>
                <a href="#" class="site-header__menu-element">FAQs</a>
            </div>

            <div class="site-header__right-menu"> 
                <a href="#" class="site-header__menu-element site-header__menu-element--right">Login</a>
                <a href="#" class="site-header__menu-element site-header__menu-element--right">Webshop </a>
                <img class="site-header__webshop-icon" alt="" height="16" src="../img/shopping-cart.svg">
            </div>
        </div>

    </div>
    
    <!-- <strong><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></strong> --> 
</header>